@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" label="id" value="${item.id}" underline="true"/>
                            <#input id="type" label="类型" value="${item.type}" underline="true"/>
                            <#input id="title" label="标题" value="${item.title}" underline="true"/>
                            <#input id="content" label="内容" value="${item.content}" underline="true"/>
                            <#input id="isRead" label="是否已读" value="${item.isRead}" />
                </div>

                <div class="col-sm-6">
                            <#input id="creator" label="创建人" value="${item.creator}" underline="true"/>
                            <#input id="gmtCreate" label="创建时间" value="${item.gmtCreate}" underline="true"/>
                            <#input id="modifier" label="修改人" value="${item.modifier}" underline="true"/>
                            <#input id="gmtModified" label="修改时间" value="${item.gmtModified}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MsgInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MsgInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/msg/msg_info.js"></script>
@}
