@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <input id="id" name="id" value="${item.id}" type="hidden"/>
                    <#input id="deptName" label="所属部门" readonly="readonly" hidden="deptId"
                    clickFun="PositionInfoDlg.showDeptSelectTree(); return false;"
                    style="background-color: #ffffff !important;" underline="true" />
                    <#input id="code" label="编码" value="${item.code}" underline="true"/>
                    <#input id="sortNum" label="显示顺序" value="${item.sortNum}" underline="true" />
                </div>

                <div class="col-sm-6">
                    <#input id="parentName" label="上级职位" readonly="readonly" hidden="parentId"
                    hiddenValue="${item.parentId!}" value="${parentName!}"
                    clickFun="PositionInfoDlg.showParentPositionSelectTree(); return false;"
                    style="background-color: #ffffff !important;" underline="true"/>
                    <#input id="name" label="名称" value="${item.name}" underline="true"/>
                    <#textarea  id="remark" rows="2" value="${item.remark}" label="描述" />
                </div>
            </div>

            <!-- 所属部门的选择框 -->
            <div id="deptMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="deptMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

            <!-- 上级职位的选择框 -->
            <div id="parentPositionMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="parentPositionMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PositionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PositionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/position/position_info.js"></script>
<script>
    $(function() {
        PositionInfoDlg.deptZTreeInstance.setSelectedVal("${item.deptId!}")
        PositionInfoDlg.parentPositionZTreeInstance.setSelectedVal("${item.parentId!}")
    });
</script>
@}
