<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshang.modular.im.dao.GroupUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshang.modular.im.model.GroupUser">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="user_id" property="userId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <resultMap id="membersResultMap" type="com.xinshang.modular.im.dto.InitUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="sign" property="sign" />
        <result column="avatar" property="avatar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, user_id, gmt_create, gmt_modified
    </sql>
    <!-- 获取群成员 -->
    <select id="getMembersByGroupId"  parameterType="java.lang.Integer" resultMap="membersResultMap">
        select u.id,u.username,u.sign,u.avatar from im_user u inner join im_group_user gu on u.id=gu.user_id and gu.group_id = #{groupId}

    </select>

</mapper>
