<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshang.rest.modular.asmall.dao.BankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshang.rest.modular.asmall.model.Bank">
        <id column="id" property="id"/>
        <result column="master_id" property="masterId"/>
        <result column="bank_card_no" property="bankCardNo"/>
        <result column="bank_name" property="bankName"/>
        <result column="card_type" property="cardType"/>
        <result column="bank_card_pro" property="bankCardPro"/>
        <result column="is_default" property="isDefault"/>
        <result column="create_time" property="createTime"/>
        <result column="phone" property="phone"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, master_id, bank_card_no, bank_name, card_type, bank_card_pro, is_default, create_time, update_time, type
    </sql>

    <select id="selectByMemberId" parameterType="long" resultMap="BaseResultMap">
    select * from tb_bank where master_id=#{memberId} and type= 1
    </select>
</mapper>
