<link href="${ctxPath}/static/js/plugins/ant-design-vue/dist/antd.css" rel="stylesheet">
<!-- 主题颜色 -->
<link href="${ctxPath}/static/css/index.css" rel="stylesheet">
<script src="${ctxPath}/static/js/vue.js" ></script>
<script src="${ctxPath}/static/js/plugins/ant-design-vue/dist/antd.js" ></script>
<script src="${ctxPath}/static/js/vueCommon/selectCon.js" ></script>
<script src="${ctxPath}/static/js/vueCommon/nameCon.js" ></script>
<script src="${ctxPath}/static/js/vueCommon/vueUtil.js"></script>