<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshang.modular.biz.dao.ItemAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshang.modular.biz.model.ItemAudit">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="audit_status" property="auditStatus" />
        <result column="audit_detail" property="auditDetail" />
        <result column="audit_user" property="auditUser" />
        <result column="audit_time" property="auditTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, audit_status, audit_detail, audit_user, audit_time
    </sql>



    <select id="selectByProductId" resultMap="BaseResultMap">

        select * from tb_item_audit where audit_time=(select max(audit_time) from tb_item_audit) AND product_id=#{itemId}
    </select>
</mapper>
