@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row" id="ReceiptsPaymentsTableSearch">
                            <div class="col-lg-2 col-sm-2">
                                <#dictSelectorCon id="accountSetName" name ="accountSetName" code="file_type" label="文件类型"
                                underline="true" placeholder="-请选择-" />
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <#datecon id="dateStart" name="dateStart" tagName="对账文件日期" isTime="false"/>
                            </div>

                            <div class="col-sm-3">
                                <#button name="下载" icon="fa-search" clickFun="ReconciliationDownload.search()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@include("/common/_container_vue.html"){}
<script src="${ctxPath}/static/modular/biz/reconciliationDownload/reconciliationDownload.js"></script>
@}
