@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12 b-r">
                    <#input id="jobGroup" label="任务所在组" value="${item.jobGroup}" />
                    <#input id="jobClassName" label="任务类名" value="${item.jobClassName}" />
                    <#input id="cronExpression" label="cron执行表达式" value="${item.cronExpression}"  />
                    <#input id="description" label="描述" value="${item.description}" />
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JobInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JobInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/job/job_info.js"></script>
@}
