<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshang.modular.system.dao.JobLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshang.modular.system.model.JobLog">
        <id column="id" property="id" />
        <result column="job_name" property="jobName" />
        <result column="job_group" property="jobGroup" />
        <result column="description" property="description" />
        <result column="job_class_name" property="jobClassName" />
        <result column="params" property="params" />
        <result column="job_message" property="jobMessage" />
        <result column="state" property="state" />
        <result column="exception_info" property="exceptionInfo" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_name, job_group,description, job_class_name, params, job_message, state, exception_info, create_time
    </sql>

</mapper>
