<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshang.modular.system.dao.MsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshang.modular.system.model.Msg">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="is_read" property="isRead" />
        <result column="creator" property="creator" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, title, content, is_read, creator, gmt_create, modifier, gmt_modified
    </sql>

</mapper>
